 *{
 	text-decoration: none;
 	list-style: none;
 	box-sizing: border-box;
 } 
 body {
 }
 /*******header**********/
 

 .navbar-brand {
 	margin-top: 15px;
 	vertical-align: middle;
 }
 #header-nav {
 	background-color: blue;
 }
 .navbar-brand h1{
 	position: relative;
 	color: black;
 	font-size: 1.5em;
 }
 .navbar-brand a:hover, .navbar-brand a:focus {
 	text-decoration: none;
 }